In [ ]:
import pandas as pd
import numpy as np

test_data = pd.read_csv('data/train_AV3.csv')
test_data.head()

In [ ]:
# Remove ID and Married Columns (not important)
test_data_1 = test_data.copy()
test_data_1.drop(["Married", "Loan_ID"], axis=1, inplace=True)
test_data_1.head()
print(test_data_1.shape)

## Split data into cat and numerical and fill the missing values

In [ ]:
cat_columns = [c for c in test_data_1.columns if test_data_1[c].dtype == 'O']
# test_data_cat = 
cat_data = test_data_1[cat_columns]
cat_data.head()

In [ ]:
# Numerical data
num_columns = [c for c in test_data_1.columns if c not in cat_data.columns]
num_data = test_data_1[num_columns]
num_data.head()

In [ ]:
# Check no of missing values before imputing
cat_data.isna().sum()

In [ ]:
num_data.isna().sum()

### Fill missing values using imputer

In [ ]:
from sklearn.impute import SimpleImputer

num_imputer = SimpleImputer(strategy='median')
cat_imputer = SimpleImputer(strategy='most_frequent')

# Fit and transform
num_data_no_mis = num_imputer.fit_transform(num_data)
cat_data_no_mis = cat_imputer.fit_transform(cat_data)

In [ ]:
# Imputer retuns numpy array so let's convert it into 
num_df = pd.DataFrame(num_data_no_mis, columns=num_data.columns,
                      index=num_data.index)
num_df.head()

In [ ]:
cat_df = pd.DataFrame(cat_data_no_mis, columns=cat_data.columns,
                      index=cat_data.index)
cat_df.head()

In [ ]:
## Let's see the no of missing values now
num_df.isna().sum()

In [ ]:
cat_df.isna().sum()

### Concatenate DataFrames

In [ ]:
# Concatenate the num and cat dataframes
new_data = pd.concat([num_df, cat_df], axis=1)
new_data.head()

In [ ]:
new_data.shape

In [ ]:
test_data_1.shape

## Encode categorical attributes using pandas.get_dummies method

In [ ]:
cat_data.columns

In [ ]:
data_cleaned = pd.get_dummies(new_data, columns=cat_data.columns[:-1],
                              prefix=cat_data.columns[:-1])
data_cleaned.head()

In [ ]:
data_cleaned.shape

In [ ]:
# Now we will encode the target attribute using LabelEncoder
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()
data_cleaned["Loan_Status"] = label_encoder.fit_transform(data_cleaned["Loan_Status"])
data_cleaned["Loan_Status"].value_counts()

In [ ]:
data_cleaned.head()

In [ ]:
# Split into independent and dependent attributes
data = data_cleaned.drop("Loan_Status", axis=1)
labels = data_cleaned["Loan_Status"]

In [ ]:
data

## Let's try Logistic Regression

In [ ]:
from sklearn.linear_model import LogisticRegression

log_reg = LogisticRegression()
log_reg.fit(std_data, labels)
log_reg.score(std_data, labels)

In [ ]:
std_data = data.copy()

In [ ]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
std_data = sc.fit_transform(std_data)

In [ ]:
num_data

In [ ]:
std_data

In [ ]:
test_data["Credit_History"].value_counts()

In [ ]:
num_data = pd.DataFrame(num_data, nu)

# Testing PipeLine

In [1]:
import pandas as pd
import numpy as np
test = pd.read_csv('data/train_AV3.csv')

In [2]:
test.drop(columns=["Loan_ID"], inplace=True)

In [4]:
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import StandardScaler

num_pipeline = Pipeline([
    ('imputer', SimpleImputer(strategy="median")),
    ('std_scaler', StandardScaler())
])

cat_pipeline = Pipeline([
    ('imputer', SimpleImputer(strategy="most_frequent"))
#     ('oneHot', OneHotEncoder())
])

# num_data_tr = num_pipeline.fit_transform(num_data)
# cat_data_tr = cat_pipeline.fit_transform(cat_data)

In [5]:
data = test.drop("Loan_Status", axis=1)
labels = test["Loan_Status"]

In [6]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
labels = le.fit_transform(labels)
# labels

In [7]:
from sklearn.compose import ColumnTransformer

num_attribs = [c for c in data.columns if data[c].dtype != 'O']
cat_attribs = [c for c in data.columns if c not in num_attribs]

full_pipeline = ColumnTransformer([
    ("num", num_pipeline, num_attribs),
    ("cat", cat_pipeline, cat_attribs)
])

In [8]:
data_p = full_pipeline.fit_transform(data)
data_p[0]

array([0.07299082285068836, -0.5544873301529852, -0.21124124943736647,
       0.2732312961117544, 0.41173269183271005, 'Male', 'No', '0',
       'Graduate', 'No', 'Urban'], dtype=object)

In [9]:
data_df = pd.DataFrame(data_p, columns=num_attribs+cat_attribs)
data_df

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Gender,Married,Dependents,Education,Self_Employed,Property_Area
0,0.0729908,-0.554487,-0.211241,0.273231,0.411733,Male,No,0,Graduate,No,Urban
1,-0.134412,-0.0387315,-0.211241,0.273231,0.411733,Male,Yes,1,Graduate,No,Rural
2,-0.393747,-0.554487,-0.948996,0.273231,0.411733,Male,Yes,0,Graduate,Yes,Urban
3,-0.462062,0.25198,-0.306435,0.273231,0.411733,Male,Yes,0,Not Graduate,No,Urban
4,0.0977284,-0.554487,-0.0565506,0.273231,0.411733,Male,No,0,Graduate,No,Urban
...,...,...,...,...,...,...,...,...,...,...,...
609,-0.41013,-0.554487,-0.8895,0.273231,0.411733,Female,No,0,Graduate,No,Rural
610,-0.212557,-0.554487,-1.25838,-2.52284,0.411733,Male,Yes,3+,Graduate,No,Rural
611,0.437174,-0.472404,1.27617,0.273231,0.411733,Male,Yes,1,Graduate,No,Urban
612,0.357064,-0.554487,0.490816,0.273231,0.411733,Male,Yes,2,Graduate,No,Urban
613,-0.134412,-0.554487,-0.151745,0.273231,-2.42876,Female,No,0,Graduate,Yes,Semiurban

In [ ]:
# data_prepared = full_pipeline.fit_transform(data)

In [10]:
data_df.shape

(614, 11)

In [26]:
data_prepared = pd.get_dummies(data_df, columns=cat_attribs, prefix=cat_attribs, drop_first=True)
data_prepared

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Gender_Male,Married_Yes,Dependents_1,Dependents_2,Dependents_3+,Education_Not Graduate,Self_Employed_Yes,Property_Area_Semiurban,Property_Area_Urban
0,0.0729908,-0.554487,-0.211241,0.273231,0.411733,1,0,0,0,0,0,0,0,1
1,-0.134412,-0.0387315,-0.211241,0.273231,0.411733,1,1,1,0,0,0,0,0,0
2,-0.393747,-0.554487,-0.948996,0.273231,0.411733,1,1,0,0,0,0,1,0,1
3,-0.462062,0.25198,-0.306435,0.273231,0.411733,1,1,0,0,0,1,0,0,1
4,0.0977284,-0.554487,-0.0565506,0.273231,0.411733,1,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,-0.41013,-0.554487,-0.8895,0.273231,0.411733,0,0,0,0,0,0,0,0,0
610,-0.212557,-0.554487,-1.25838,-2.52284,0.411733,1,1,0,0,1,0,0,0,0
611,0.437174,-0.472404,1.27617,0.273231,0.411733,1,1,1,0,0,0,0,0,1
612,0.357064,-0.554487,0.490816,0.273231,0.411733,1,1,0,1,0,0,0,0,1
613,-0.134412,-0.554487,-0.151745,0.273231,-2.42876,0,0,0,0,0,0,1,1,0

In [27]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(data_prepared,
                                                    labels,
                                                   test_size=0.2,
                                                   random_state=42)

In [28]:
def scores(model):
    train_score = model.score(X_train, y_train)
    test_score = model.score(X_test, y_test)
    print(f"Train Score {train_score:.2f}")
    print(f"Test Score {test_score:.2f}")

In [ ]:
from sklearn.svm import SVC

svc_clf = SVC(kernel="linear")
svc_clf.fit(X_train, y_train)
scores(svc_clf)

In [29]:
from sklearn.linear_model import LogisticRegression
log = LogisticRegression(max_iter=200)
log.fit(X_train, y_train)
scores(log)

Train Score 0.82
Test Score 0.79

In [39]:
from sklearn.neighbors import KNeighborsClassifier

# knn.fit(X_train, y_train)

max = 0
k = 0

for i in range(30):
    if i%2 != 0:
        knn = KNeighborsClassifier(n_neighbors=i)
        knn.fit(X_train, y_train)
        acc = knn.score(X_test, y_test)
        if max < acc:
            max = acc
            k = i
print(k, max)

11 0.7967479674796748

In [ ]:
k